var errors = require('../libs/errors');

// Configuration
module.exports = function(app, express) {
    app.configure(function(){
        app.set('port', 1337);
        app.set('db', {
            'host' : '127.0.0.1',
            'port' : '27017',
            'database' : 'blog',
        });
        app.use(express.bodyParser());
        app.use(express.methodOverride());
        app.use(app.router);
        app.use(errors.handler);
    });

    app.configure('development', function(){
        app.use(express.errorHandler({ dumpExceptions: true, showStack: true }));
    });

    app.configure('production', function(){
        app.use(express.errorHandler());
    });
}
